# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local


*.mdf
*.ldf
*.bak

logs
*.log

pids
*.pid
*.seed
*.pid.lock

coverage/
*.lcov


.vscode/
.idea/
*.swp
*.swo
*~


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


tmp/
temp/